* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #eee;
} 

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

.contenido {
    max-width: 1200px;
    margin: 0 auto;
}

.fa-regular {
    font-size: 1.8em;
    padding: 0 10PX;
}

/* PAGINA SUSCRIBITE */


.grid   {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    overflow: hidden;
    align-items: center;
}

/* PAGINA REGISTRATE */

.main {
    height: 450px;
}

